<div class="row justify-content-center">
  <div class="col-md-6">
    <h1>Editing Student</h1>

    <%= render 'form', student: @student %>

    <%= link_to 'Show', @student, class: 'btn btn-outline-success mt-2' %> |
    <%= link_to 'Back', students_path, class: 'btn btn-secondary mt-2' %>
  </div>
</div>
