<div class="row justify-content-center">
  <div class="col-md-6">
    <h1>New Student</h1>

    <%= render 'form', student: @student %>

    <%= link_to 'Back', students_path, class: 'btn btn-secondary mt-2' %>
  </div>
</div>
