<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>

<%= link_to 'Edit', edit_student_path(@student), class: 'btn btn-outline-success mt-2' %> |
<%= link_to 'Back', students_path, class: 'btn btn-secondary mt-2' %>
